*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: "custom";
    src:url('Myriad Pro Bold SemiExtended.ttf');
}
a {
    text-decoration: none;
}

.logo {
    font-family: "custom";
    color:white;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
}

.links {
    color: rgb(211, 222, 224);
    text-align: center;
}

.links li + li::before {
    content: '/';
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 900px)
{
    .links li + li::before {
        content: '/';
        text-transform: uppercase;
        margin-left: 10px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 500px) {
    .links li + li::before {
        content: '';
        text-transform: uppercase;
        font-size: 5px;
        width: 30px;
        margin-left: 10px;
        margin-right: 0px;
        text-align: center;
    }
}

.navbar {
    background-color: rgb(76, 152, 163);
}

.readmore {
    width: 100%;
    height: 700px;
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.readmore-container {
    width: 100%;
    height: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.readmore-container h2 {
    text-align:  center;
}

.offset {
    padding-left: 100px;
    padding-top: 100px;
}

/* .readmore-elements {
    display: flex;
    flex-direction: column;
} */

.readmore .main-text {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(211, 222, 224);
}
.readmore .readmore-btn {
    display: block;
    line-height: 35px;
    color: rgb(211, 222, 224);
    border: 2px solid rgb(211, 222, 224);
    border-radius: 7px;
    width: 150px;
    text-align: center;
    transition: 0.5px;
}

.readmore  .readmore-btn:hover {
    background-color: rgb(211, 222, 224);
    border-color: aliceblue;
    color: black;
}

.learn {
    padding-top: 90px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.learn p {
    margin-top: 80px;
    align-self: center;
    width: 50%;
    font-size: small;
}

.learn-main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
}

.learn-main h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    text-align: center;
}


.icons {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch; 
}

/* .icons img {
    margin: 30px 60px;
    width: 35px;
    height: 35px;
    fill: rgb(76, 152, 163);
    color : rgb(76, 152, 163);
    background-color: rgb(76, 152, 163);
} */

.icons i {
    font-size: 60px;
    color: rgb(94, 182, 196);
    text-align: center;
}

.dhavan {
    background-color: rgb(0, 208, 137);
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.dhavan-main {
    margin-top: 100px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    width: 30%;
}

.dhavan-q {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.dhavan-q {
    font-size: 100px;
    color: rgb(51, 217, 161);
}

.dhavan-main h2 {
    color: white;
}

.dhavan p {
    width: 70%;
    margin: 30px 0px;
    align-self: center;
    text-align: center;
    color: white;
}


.contact {
    background-image: url("map.png");
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.form {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
}

input {
    border: 3px solid ghostwhite;
    color: gray;
    background-color: white;
    width: 300px;
    height: 45px;
    margin-top: 30px;
}

input:focus {
    color: black;
}

input[type="submit"] {
    background-color: rgb(0, 208, 137);
    color: white;
    font-size: 40px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border-color: transparent;
}

@media screen and (min-width: 700px) {
    .contact div {
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background-color: white ;
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
}



footer {
    background-color: rgb(0, 208, 137);
    height: 40px;
}

footer p {
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}